<%- include("../partials/header") %>

<div class="breadcrumbs_area other_bread">
  <div class="container">   
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a href="/">home</a></li>
                      <li>/</li>
                      <li>Verify OTP</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>         
</div>
<!--breadcrumbs area end-->


<!-- customer login start -->
<div class="customer_login">
  <div class="container">
      <div class="row">
         <!--login area start-->
          <div class="col-lg-6 col-md-6">
              <div class="account_form">
                  <h2>Verify OTP</h2>
                  <form action="/newPassword" method="post">
                       <p>   
                          <label>Enter New Password <span>*</span></label>
                          <input type="password" name="newPass">
                       </p>   
                      <div class="login_submit">
                         
                          <button type="submit">Change</button>
                          
                      </div>

                  </form>
               </div>    
          </div>
          <!--login area start-->
        </div>
      </div>    
  </div>


<%- include("../partials/footer") %>